
/*inizializzazione*/
*{
   box-sizing: border-box;
   font-family: "raleway",sans-serif;
}
body{
   margin: auto;
}
  a{
   color: inherit;
   text-decoration: none;
  }
/* sviluppo logo*/

  .logo{
   margin-right: auto;
   padding: 0 2rem
  }



  nav{
   display:flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
   margin-top: -1%;
  }

  nav a{
   padding: 2rem;
   border-top: 1rem solid transparent;
  }

nav a:hover {
border-top: 1rem solid blue;
margin:0;

}


.signup{
   font-weight: bold;
   color: blue;
}

.sub-nav{
  
   display: flex;
}
   
.sub-nav a:hover{
color: blue;
}


@media(max-width:800px){
   .sub-nav{

order: 1;
flex-basis: 100%;
}
.sub-nav a{
   flex-basis: 50%;
   text-align: center;
   border-bottom: 4px solid lightgray;
}
.sub-nav a:hover{
   border-bottom-color: blue;
   border-top-color:transparent;
}
}


/* recherce*/
.tabella{
   padding: 0 2rem;
}
.ricerca{
   display: flex;
   margin-bottom: 2rem;
  
   
}
.fa-solid.fa-location-dot{
   padding: 1rem;
   background-color: #F2F2F2;
   border-radius: 1rem 0 0 1rem;
}


.ricerca input{
   padding-right: 2rem;
   border: 1px solid lightgray;
   overflow: auto;
   padding:1rem;
}

.ricerca input::placeholder{
   font-size: large;
   text-align: center;
   font-weight: bold;
   color:black;
}

.ricerca button{
   background-color: blue;
font-size: large;
   color: white;
   font-weight: bold;
border-radius: 0 1rem 1rem 0;
padding: 1rem 2rem;
cursor: pointer;
opacity: 0.8;
padding-right: 2rem;

}
.ricerca button:hover{
   opacity: 1;
   transform: scale(1.1);
}

.tabella >,h1,
.tabella > p{
   margin-bottom: 1.2rem;
}

.fas.fa-search{
   display: none;
   background-color: blue;
}
 @media(max-width: 800px) {
.bottone{
   display: none;
}
.fas.fa-search{
color:white;
display: inline;
 }
}

/* filtro*/
.lista{
  display: flex;
  align-items: center;
flex-wrap: wrap;
gap: 2rem;
}
.lista h3{
  margin-bottom: 6px;
  margin-top: 0.4rem;

  
}
.filtro{
   display: flex;
   border: 1px solid lightgray;
   padding: 3px 10px;
   padding-left: 0%;
   border-radius: 15px;
   margin: -2px;
   gap: 14px;
   align-items: center;
   justify-content: center;
}
.fa-solid.fa-money-bill-wave{
  background-color: #DEEBFF;
  color: blue;
  padding: 15px;
  margin-left: -10%;
border-radius: 2rem;
  margin: -5.9px;
}

.fa-solid.fa-child-reaching{
   background-color: #DEEBFF;
   color: blue;
   padding: 15px;
   border-radius: 2rem;
   margin: -5.9px;
   margin-left: -10%;
   display: flex;
   align-items: center;
   width: 41px;
   height: 40px;
}
.fa-sharp.fa-solid.fa-heart{
   background-color: #DEEBFF;
   color: blue;
   padding: 15px;
   border-radius: 2rem;
   margin: -5.9px; 
   margin-left: -10%;
}
.fa-solid.fa-dog{
   background-color: #DEEBFF;
   color: blue;
   padding: 15px;
   border-radius: 2rem;
   margin: -4.9px; 
   margin-left: -10%;
}

.lista div:hover{
transform: scale(1.1);
cursor: pointer;
background-color: #F2F2F2;

}
.lista span{
  
  font-weight: bold;
}


.informazione{
  display: flex;
   align-items: center;
 gap: 0.6rem;
 margin-top: 2rem;
}

.fas.fa-info{
   background-color: #F2F2F2;
   padding:1rem;
   border-radius: 1rem;
   width:2rem;
   height:2rem;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
/*appartamenti*/

.appartamenti{
  display: flex;
  gap: 2rem;
 
}

.appartamenti > div{
padding: 2rem;
 border-radius: 1rem;
background-color: #F2F2F2;

}

.citta{
   flex-basis: 66%;
 

}

.popolare{
  flex-basis: 33%;
  
}
.sopra{
   display: flex;
   align-items: center;
}
.sopra h3{
   flex-basis: 100%;
}
.sopra i{
   font-size: large;
}
.liberi{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 2rem;
  padding-bottom: 3rem;
}

.popolaretti{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 2rem;
padding: 1rem;
}



.popolaretti h3{
   margin-bottom: -9px;
}
@media(max-width:800px){
.popolaretti{
   flex-direction: row;

}
}

.blue{
   color:#0065FC;
}
.grey{
   color: #DEEBFF;
}
.carte,
.VIP{
   background-color: white;
   border-radius: 1rem;
   padding: 7px;
   flex-grow: 1;
   min-width: 14rem;
   
}


.carte img{
border-radius: 1rem 1rem 0 0;
height: 7rem;
object-fit: cover;
object-position: center;
width: -webkit-fill-available;
min-width:13rem;
}

.liberi div:hover{
   transform: scale(1.1);
cursor: pointer;
}



.carte p,
.carte h3{
   margin: auto;
   font-size: initial;
   padding-left: 1rem;
   padding-bottom: 4px;
}

.VIP{
   display: flex;
   max-height: 10rem;
   gap: 1rem;
   height: 8rem;
}

.popolare img{
   border-radius: 1rem  0 0 1rem;
width: 40%;
object-fit: cover;
object-position: center;

}

.popolare .VIP:hover{
   transform: scale(1.1);
cursor: pointer;
}
.disegno{
   display: flex;
   flex-wrap: wrap;
}

.disegno p,
.disegno h3{
   flex-basis: 100%;
   margin-top:auto;
   font-size:initial;
}
.stars{
  
   margin-bottom: 0%;

}
@media(max-width:800px){
   .appartamenti{
  flex-direction: column-reverse;
  }
  .popolare,
  .citta{
   margin: 1% -6%;
}
.VIP{
   flex-grow: 1;
}
}



@media(max-width:1200px){

.appartamenti{
flex-direction: column-reverse;

}
.popolaretti{
   flex-direction: row;
  

}
.popolare >h3{
  flex-basis: 100%;
  margin-left: 1rem;
}
.VIP{
   height: 10rem;
   
}
}
.attivita{
   margin:4rem 0;
}

.complicato a{
   display: flex;
margin: 1rem;
}
.complicato{

display: flex;
flex-direction: row;
gap: 2rem;
flex-wrap: wrap;
}
.complicato div {
flex:1;

   border-radius: 1rem;
 
}
.unione{
DISPLAY: flex;
FLEX-DIRECTION: column;
gap: 2rem;
}
.BIG1,.BIG2,.MEDIEUM,.MEDIUM2,.SMALL,.SMALL2{
   box-shadow: 0 0 20px lightgrey;
}


.BIG1{  
max-height: 32rem;
border-radius: 1rem;
}
.BIG1 img{
width: 100%;
height: 87%;
border-radius: 1rem 1rem 0 0;
object-fit: cover;
}

.MEDIEUM{
max-height: 17rem;
border-radius: 1rem;
}
.MEDIEUM img{
width: 100%;
height: 80%;
border-radius: 1rem 1rem 0 0;
object-fit: cover;
}
.SMALL{
max-height: 12rem;
border-radius: 1rem;
margin-top: auto;
}
.SMALL img{
width: 100%;
height: 66%;
border-radius: 1rem 1rem 0 0;
object-fit: cover;
}
 
.BIG2{
 max-height: 32rem;
 border-radius: 1rem;
}
.BIG2 img{
width: 100%;
height: 85%;
border-radius: 1rem 1rem 0 0;
object-fit: cover;
}



.MEDIUM2{
max-height: 18rem;
border-radius: 1rem;
}
.MEDIUM2 img{
width: 100%;
height: 80%;
border-radius: 1rem 1rem 0 0;

}

.SMALL2{
max-height: 13rem;
border-radius: 1rem;
}
.SMALL2 img{
width: 100%;
height: 70%;
border-radius: 1rem 1rem 0 0;

}


@media(max-width:1100px){
.complicato div{
flex-direction: row;
flex: 1;
}
.unione{
 display: contents;
}
.complicato div{
 
   border-radius: 1rem;
   padding: 0.5rem;
  
   flex-grow: 1;
   max-width: 29rem;
}
.complicato img{
   border-radius: 1rem 1rem 0 0;
   height: 7rem;
   object-fit: cover;
   object-position: center;
   width: -webkit-fill-available;
   min-width:13rem;
}


}
.BIG1:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.BIG2:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.SMALL:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.SMALL2:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.MEDIEUM:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.MEDIUM2:hover{
   transform: scale(1.1);
   cursor: pointer;
}


.piedi{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 gap: 3rem;
 width:100%;
 padding-left: 1rem;


}
.piedi div{
   padding-right: 2rem;
   width: 30%;
}

footer{
  width:100%;
  display: flex;
   background-color: #F2F2F2;
   padding: 1rem;
}
.proposito{
   display:flex;
   flex-direction: column;
   gap: 0.9rem;
   
}
.habitat{
   display:flex;
   flex-direction: column;
   gap: 0.9rem;
}
.assistenza{
   display:flex;
   flex-direction: column;
   gap: 0.9rem;
}


@media(max-width:800px) {
   .piedi{
      display: flex;
      flex-direction: column;
   }
   
}